.page {
  width: 100%;
  height: 100%;
  background-color: #1f1b40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #fff9f6;
  letter-spacing: .4px;
}

.content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 128px;
  padding-bottom: 64px;
}

.column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.column.gap1 {
  gap: 0.1em;
}

.column.gap2 {
  gap: 0.25em;
}

.column.gap3 {
  gap: 0.33em;
}

.column.gap4 {
  gap: 0.50em;
}

.column.gap5 {
  gap: 0.75em;
}

.column.gap6 {
  gap: 0.95em;
}

.column.gap7 {
  gap: 1em;
}

.column.mt-1 {
  margin-top: 16px;
}

.title {
  font-size: 42px;
  font-weight: 600;
  line-height: 66px;
  margin-bottom: 8px;
  text-align: center;
  background: linear-gradient(135deg, hsla(192, 91%, 82%, 1) 7%, hsla(236, 98%, 80%, 1) 53%, hsla(265, 53%, 56%, 1) 78%, hsla(354, 38%, 61%, 1) 89%, hsla(30, 100%, 59%, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  max-width: 500px;
}

.staking-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.staking-content {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staking-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(42px, max-content));
  column-gap: 96px;
  row-gap: 56px;
  margin-top: 48px;
  grid-template-areas:
  " a b c"
  " d e f";
  ;
  justify-content: center;
  align-items: center;
}

.staking-item {
  position:relative;
  width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:20px;
  padding: 4px;
  padding-top: 12px;
  justify-self:center;
  align-self:center;

  box-shadow: 0px 0px 8px 8px rgba(255,255,255,0.2);
  background: rgba( 255, 255, 255, 0.2 );
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );

}

.staking-item.connected{
  cursor: pointer;
}

.staking-item.connected:hover {
  border: 1px solid rgba( 255, 255, 255, 0.6 );
  box-shadow: 0px 0px 16px 9px rgba(255,255,255,0.2);
}

.staking-item.active {
  border: 1px solid rgba( 255, 255, 255, 0.6 );
  box-shadow: 0px 0px 16px 9px rgba(255,255,255,0.2);
}

.active{}

.default{}

.staking-item>.staking-title {
  text-align: center;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.staking-item>.column {
}

.staking-item>.staking-apy {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

.staking-content-container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.staking-content-container>.staking-content-subtitle {
  font-size: 14px;
  line-height: 22px;
  margin-top: 16px;
  font-style: normal;
  text-align: center;
}

.connect-button-center{
  display: flex;
  justify-content: center;
}

.connect-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9f6;
  padding: 12px 32px;
  transition:  transform 0.2s ease-in;
  border-radius: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.connect-button-text{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #8553ca;
  letter-spacing: 2px;
}

.connect-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 6px 6px rgba(255,255,255,0.05);
}


.staking-modal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 32px;
  gap:16px;
}

.staking-modal {
  display:flex;
  flex-direction:column;
  max-width: 700px;
  width: 100%;
  border-radius: 20px;  
  padding: 32px;

  box-shadow: 0px 0px 8px 8px rgba(255,255,255,0.2);
  background: rgba( 255, 255, 255, 0.2 );
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
}

.staking-modal-title{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.staking-modal>.input-container {
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:16px;
}

.input-container>.value-container {
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  height: max-content;
  min-height: 50px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  border-radius:14px;    
  padding: 16px 88px 16px 52px;
  gap:8px;
  cursor: pointer;
  position: relative;
}
.input-container>.value-container:hover{
  border: 1px solid rgba( 255, 255, 255, 0.6 );
}

.input-error {
  height: 28px;
  width: 100%;
  /* color TBD */
  color: #E03100; 
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 8px;
}

.value-container>.icon{
  width:24px;
  height:24px;
  position: absolute;
  left: 16px;
}

.value-container>.input{
  width:100%;
  height:100%;
  border:none;
  outline:none;
  font-size:16px;
  letter-spacing: 1px;;
  color: inherit;
  line-height: 24px;
  font-weight:bold;
  background: transparent;
  text-align:left;
  cursor: pointer;
}

.max-button {
  height:fit-content;
  align-items:center;
  margin:0 auto;
  color:#989efe;
  background-color: rgba(166, 234, 251, 0.2);
  border-radius: 6px;
  font-size:12px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  padding: 6px 14px;
}

.max-button:hover{
  color:#a8adff;
  background-color: rgba(166, 234, 251, 0.1);
}

.input-container > .button {
  height:52px;
  border:none;
  outline:none;
  font-size:18px;
  color:#fff9f6;
  text-align:center;
  background: linear-gradient(90deg, hsla(192, 91%, 82%, 1) 0%, hsla(236, 98%, 80%, 1) 53%, hsla(265, 53%, 56%, 1) 100%);
  background-size: 200% 200%;
  background-position: 0% 100%;
  transition: background-position 0.5s ease-in;
  border-radius:8px;
  padding:4px 32px 4px 32px;
  cursor:pointer;
}

.input-container > .button:hover{
  background-position: 90% 100%;
}

.input-container>.button.disabled {
  background-color: #cccccc;
  color: darkgrey;
  cursor: not-allowed;
}
.staking-modal>.detail-segment{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  margin-top:16px;
  gap:20px;
}

.detail-segment>.row{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

.row>.info{
  display: flex;
  flex-direction: row;
  gap:8px;
}
.info>.text{
  font-size:14px;
  font-weight:600;
  text-align:left;
  text-align:center;
  align-self: center;
  justify-self: center;
  
}
.info>.text.duration{
  display:contents;
}
.info>.button{
  border:none;
  outline:none;
  font-size:14px;
  font-weight:bold;
  color:black;
  text-align:center;
  background-color: #fff9f6;
  border-radius:8px;
  padding:4px 16px 4px 16px;
  cursor:pointer;
}
.info>.button:hover {
  background-color: #cccccc;
}

.info>.button:disabled{
  cursor:default;
  background-color: #cccccc;

}
@media (max-width: 768px) {
  .content{
    padding-top:96px;
    padding-bottom:32px;
  }
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
    width:100%;
    margin-top:0px;
  }

  .staking-item {
    width: 150px;
    height: 150px;
    padding:0;
    justify-content: space-evenly;
    align-self:center;
  }
  .staking-item > .staking-title{
    margin-top:4px;
  }
  .staking-item > .staking-apy{
    margin-top:0;
  }
  .staking-item>.column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .staking-content-container {
    display: none;
  }

  .staking-grid {
    margin-top:8px;
    row-gap:24px;
    column-gap:16px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,minmax(42px,max-content));
    grid-template-areas: 
    "b b"
    "a c"
    "d e" 
    "f f";
  }
  .staking-modal-container {
    width:100vw;
  }
  .staking-modal{
    width:100%;
      padding: 48px 16px 48px 16px;
      gap:32px;
      height:max-content;
      min-height:456px;
  }
  .staking-modal>.staking-title{
    justify-content: center;
  }
  .staking-modal>.staking-title.duration{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:16px;

  }
  .staking-modal>.input-container{
    flex-direction:column;
  }
  .staking-modal>.detail-segment{
    margin-top:16px;
  }
  .row>.info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
  }
  .info>.text{
    text-align:start;
    font-size:20px;
  }
  .info>.text.duration{
    display:none;
  }
  .info:nth-child(odd)>.text{
   text-align:center;
  }
}
.select-container{
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  border-radius: 14px;
  padding-right: 8px;

}


.select{
  cursor: pointer;
  position: relative;
  background-color: transparent;
  font-family: inherit;
  color: #fff9f6;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px 8px 16px;
}

.overlay{
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 0 0 16px 16px;
}

.card{
  position: relative;
  width: 275px;
  display: flex;
  align-items: center;
  background-color: #4c4a66;
  box-shadow: 5px 7px 15px -3px rgba(0,0,0,0.5);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.card-info{
  padding-left: 8px;
}

.card-icon{
  position: relative;
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid transparent; 
  border-top: 2px solid #fff9f6;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #db4040;
  border-radius: 100%;
}

.success{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #52d180;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

.success::after{
  content: '';
  position: relative;
  top: -10%;
  display: block;
  transform: rotate(45deg);
  height: 12px;
  width: 6px;
  border-bottom: 1.5px solid #fff9f6;
  border-right: 1.5px solid #fff9f6;
}

.error::after{
  content: '!'
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
